<!doctype html>
<html lang="en">
  <head>
    <title>Cậu gì đó ơi  ! ! !</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <base href="/">
    {{!-- base href is important when using get("/:id") instead of get("/") --}}
    <link rel="stylesheet" href="./stylesheets/game/game.css">
    <link rel="stylesheet" href="./stylesheets/game/game_spinload.css">
    <link rel="stylesheet" type="text/css" href=" https://fonts.googleapis.com/css?family=Pacifico" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>
    <script>
      const questionData = JSON.parse(`{{{questions}}}`)
      const informationData = JSON.parse(`{{{information}}}`)

      // Store data in sessionStorage
      sessionStorage.setItem("information", JSON.stringify(informationData));
      sessionStorage.setItem("questions", JSON.stringify(questionData));
    </script>
    <div class="wrapper">
      <!-- Preloader -->
    <div id="preloader">
      <div class="spinner">
        <div class="rect rect1"></div>
        <div class="rect rect2"></div>
        <div class="rect rect3"></div>
        <div class="rect rect4"></div>
        <div class="rect rect5"></div>
      </div>
    </div>
   <div id="loadingPopup">
        Loading, please wait...
    </div>
      <div id="bg"></div>
      <div class="content">
        <header>
          <h2> Hi Thao !  </h2>
          
          <h2> You're invited to this: </h2>
          <h4> Can't wait to see you there. Here is the detail </h4>
        </header>
        <button id="yes" type="button" class="btn btn-danger btn-lg"> Đẹp, dễ thương nha :>  <333 </button>
        <button id="no" type="button" class="btn btn-info btn-lg"> Xấu quắc :333 </button>
      </div>
      <div class="letter-component">
        {{> envelope imageSrc="images/game/logo.png"}}
      </div>

          <div class="back_btn_wrapper">
            <a href="../">
              <button class="back_btn">Home</button>
            </a>
          </div>

          

          <div class="rotate_icon_wrapper">
            <img class="rotate_icon" onclick="playPause(this)" src="images/game/logo.png">
          </div>
    </div>
    {{!-- <audio src="" autoplay></audio> --}}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="./javascripts/game/game.js"></script>
  </body>
</html>