<head>
    <link rel="stylesheet" href="./stylesheets/tarot/cat.css">
    <link rel="stylesheet" href="./stylesheets/tarot/card.css">
    <link rel="stylesheet" href="./stylesheets/tarot/main.css">
</head>

<body class="container">
    <div class="back_btn_wrapper">
        <a href="../">
            <div class="back_btn">Home</div>
        </a>
    </div>

    
    <div class="row">
        <div class="col cat-container">
            <div class="cat">
                <div class="ear ear--left">
                </div>
                <div class="ear ear--right">
                </div>
                <div class="face">
                    <div class="eye eye--left">
                        <div class="eye-pupil"></div>
                    </div>
                    <div class="eye eye--right">
                        <div class="eye-pupil"></div>
                    </div>
                    <div class="muzzle"></div>
                </div>

            </div>
        </div>
    </div>

    {{!-- Card --}}
    <div class="row position-relative">
        <div class="card-deck">
            <div class="card">
                King of All Darkside
            </div>
        </div>
    </div>
    
    {{!-- Card Detail  --}}
    <div class="row d-flex">
        <div class="card-image"></div>
        <div class="detail"></div>
    </div>
</body>