
<html lang="en">
  <head>
    <link
      href="https://cdn-icons-png.flaticon.com/512/272/272525.png"
      rel="icon"
    />
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link rel="stylesheet" href="./stylesheets/errorPage/main.css" />
    <script
      src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    ></script>
    <script
      src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    ></script>

    <title>Error</title>
  </head>
  <body>
    <div class="error-content">
      <div class="container">
        <div class="row">
          <div class="cat-container">
            <div class="shadow"></div>
            <div class="cat">
              <div class="ear"></div>
              <div class="eye"></div>
              <div class="mouth"></div>
              <div class="nose"></div>
              <div class="tail">
                <div class="tail-stripe tail-stripe-1"></div>
                <div class="tail-stripe tail-stripe-2"></div>
                <div class="tail-stripe tail-stripe-3"></div>
              </div>
              <div class="body">
                <div class="stripe stripe-1"></div>
                <div class="stripe stripe-2"></div>
                <div class="stripe stripe-3"></div>
              </div>
              <div class="bubble"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="error-text text-light">
              <h3 class="error">404 Error</h3>

              <h4>This page not existed</h4>
              <h1>{{message}}</h1>
              <h2>{{error.status}}</h2>
              <pre>{{error.stack}}</pre>
              <p class="text-light">If you want more information
                <br />Please contact at: ductrong1313@gmail.com
              </p>
              <a href="/" class="btn btn-primary btn-round">Get home</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>