<html lang="en">

<head>
  <title>Lunar</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="./stylesheets/mainPage/mainPage.css">
  <link rel="stylesheet" href="./stylesheets/mainPage/card_content.css">
  <link rel="stylesheet" type="text/css" href=" https://fonts.googleapis.com/css?family=Pacifico" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
  <div>

  </div>
  <div class="row col-12">
    <div class="content-wrapper">
      <ul class="cards">
        <li>
          <a href="/greenstore" class="card">
            <img src="./images/greenstore/bg.jpg" class="card_image" alt="" />
            <div class="card_overlay">
              <div class="card_header">
                <svg class="card_arc" xmlns="http://www.w3.org/2000/svg">
                  <path />
                </svg>
                <img class="card_thumb" src="./images/game/cuteCat.jpg" alt="" />
                <div class="card_header-text">
                  <h3 class="card_title">GreenStore Api</h3>
                  <span class="card_short_desc">Connect to GreenStore Database</span>
                  <span class="card_status">Available</span>
                </div>
              </div>
              <p class="card_description">GreenStore DB is about products, categories, carousels (images and posters),
                carts and users.</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/okr" class="card">
            <img src="./images/okr/bg.png" class="card_image" alt="" />
            <div class="card_overlay">
              <div class="card_header">
                <svg class="card_arc" xmlns="http://www.w3.org/2000/svg">
                  <path />
                </svg>
                <img class="card_thumb" src="./images/game/cuteCat.jpg" alt="" />
                <div class="card_header-text">
                  <h3 class="card_title">OKR Api</h3>
                  <span class="card_short_desc">Connect to OKR Database</span>
                  <span class="card_status">Available</span>
                </div>
              </div>
              <p class="card_description">OKR Api is used for project OKR (such as Todolist) app that allow user to
                create objective (goal) and it's key result (todo)</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/tarot" class="card">
            <img src="./images/tarot/bg.jpg" class="card_image" alt="" />
            <div class="card_overlay">
              <div class="card_header">
                <svg class="card_arc" xmlns="./images/tarot/bg.jpg">
                  <path />
                </svg>
                <img class="card_thumb" src="./images/game/cuteCat.jpg" alt="" />
                <div class="card_header-text">
                  <h3 class="card_title">Tarot Api</h3>
                  <span class="card_status text-warning">Maintaining</span>
                </div>
              </div>
              <p class="card_description">This is an api that provide general information and functions around Tarot
                Cards. The official main page of this section will be updated soon.</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/game" class="card">
            <img src="./images/game/background.jpg" class="card_image" alt="" />
            <div class="card_overlay">
              <div class="card_header">
                <svg class="card_arc" xmlns="http://www.w3.org/2000/svg">
                  <path />
                </svg>
                <img class="card_thumb" src="./images/game/cuteCat.jpg" alt="" />
                <div class="card_header-text">
                  <h3 class="card_title">Game</h3>
                  <span class="card_status">Available</span>
                </div>
              </div>
              <p class="card_description">Currently, this section just about some silly and cute stuff that i was made
                for fun. Now it's only used for listening to music. </p>
            </div>
          </a>
        </li>
        <li>
          <a href="/schedule" class="card">
            <img src="./images/schedule/bg.jpg" class="card_image" alt="" />
            <div class="card_overlay">
              <div class="card_header">
                <svg class="card_arc" xmlns="http://www.w3.org/2000/svg">
                  <path />
                </svg>
                <img class="card_thumb" src="./images/game/cuteCat.jpg" alt="" />
                <div class="card_header-text">
                  <h3 class="card_title">Schedule</h3>
                  <span class="card_status text-primary">Coming soon</span>
                </div>
              </div>
              <p class="card_description">This Schedule project is being developed to be a Event reminder for user. Remind annual and up coming events</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/bingoGame" class="card">
            <img src="./images/bingoGame/bg.jpg" class="card_image" alt="" />
            <div class="card_overlay">
              <div class="card_header">
                <svg class="card_arc" xmlns="http://www.w3.org/2000/svg">
                  <path />
                </svg>
                <img class="card_thumb" src="./images/game/cuteCat.jpg" alt="" />
                <div class="card_header-text">
                  <h3 class="card_title">Bingo Game (LOTO)</h3>
                  <span class="card_status text-success">Available</span>
                </div>
              </div>
              <p class="card_description">This section is used for playing Bingo Game/LOTO Offline (Personal use only). This will be update more function for a better experience</p>
            </div>
          </a>
        </li>

        <li>
          <a href="https://lunarmess-f928e.web.app/" class="card">
            <img src="./images/lunarmess/background.jpg" class="card_image" alt="" />
            <div class="card_overlay">
              <div class="card_header">
                <svg class="card_arc" xmlns="http://www.w3.org/2000/svg">
                  <path />
                </svg>
                <img class="card_thumb" src="./images/game/cuteCat.jpg" alt="" />
                <div class="card_header-text">
                  <h3 class="card_title">Lunar Mess</h3>
                  <span class="card_short_desc">Lunar Messenger</span>
                  <span class="card_status">Available</span>
                </div>
              </div>
              <p class="card_description">Lunar Messenger is chatting platform created by ReactJS. You can use Gmail or Facebook to log in.</p>
            </div>
          </a>
        </li>

        {{!-- <li>
          <a href="https://lunarmess-f928e.web.app/" class="card">
            <img src="./images/app/cat.jpg" class="card_image" alt="" />
            <div class="card_overlay">
              <div class="card_header">
                <svg class="card_arc" xmlns="http://www.w3.org/2000/svg">
                  <path />
                </svg>
                <img class="card_thumb" src="./images/game/cuteCat.jpg" alt="" />
                <div class="card_header-text">
                  <h3 class="card_title">Lunar Mess</h3>
                  <span class="card_short_desc">Lunar Messenger</span>
                  <span class="card_status">Available</span>
                </div>
              </div>
              <p class="card_description">Lunar Messenger is chatting platform created by ReactJS. You can use Gmail or Facebook to log in.</p>
            </div>
          </a>
        </li> --}}
      </ul>
    </div>
  </div>

</body>