<html lang="en">

<head>
  <title>Lunar</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="./stylesheets/mainPage/mainPage.css">
  <link rel="stylesheet" href="./stylesheets/mainPage/card_content.css">
  <link rel="stylesheet" type="text/css" href=" https://fonts.googleapis.com/css?family=Pacifico" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
  <div>

  </div>
  <div class="row col-12">
    <div class="content-wrapper">
      <ul class="cards">
        <li>
          <a href="/greenstore" class="card">
            <img src="./images/greenstore/bg.jpg" class="card_image" alt="" />
            <div class="card_overlay">
              <div class="card_header">
                <svg class="card_arc" xmlns="http://www.w3.org/2000/svg">
                  <path />
                </svg>
                <img class="card_thumb" src="./images/game/cuteCat.jpg" alt="" />
                <div class="card_header-text">
                  <h3 class="card_title">GreenStore Api</h3>
                  <span class="card_short_desc">Connect to GreenStore Database</span>
                  <span class="card_status">Available</span>
                </div>
              </div>
              <p class="card_description">GreenStore DB is about products, categories, carousels (images and posters),
                carts and users.</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/okr" class="card">
            <img src="./images/okr/bg.png" class="card_image" alt="" />
            <div class="card_overlay">
              <div class="card_header">
                <svg class="card_arc" xmlns="http://www.w3.org/2000/svg">
                  <path />
                </svg>
                <img class="card_thumb" src="./images/game/cuteCat.jpg" alt="" />
                <div class="card_header-text">
                  <h3 class="card_title">OKR Api</h3>
                  <span class="card_short_desc">Connect to OKR Database</span>
                  <span class="card_status">Available</span>
                </div>
              </div>
              <p class="card_description">OKR Api is used for project OKR (such as Todolist) app that allow user to
                create objective (goal) and it's key result (todo)</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/tarot" class="card">
            <img src="./images/tarot/bg.jpg" class="card_image" alt="" />
            <div class="card_overlay">
              <div class="card_header">
                <svg class="card_arc" xmlns="./images/tarot/bg.jpg">
                  <path />
                </svg>
                <img class="card_thumb" src="./images/game/cuteCat.jpg" alt="" />
                <div class="card_header-text">
                  <h3 class="card_title">Tarot Api</h3>
                  <span class="card_status text-warning">Maintaining</span>
                </div>
              </div>
              <p class="card_description">This is an api that provide general information and functions around Tarot
                Cards. The official main page of this section will be updated soon.</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/game" class="card">
            <img src="./images/game/background.jpg" class="card_image" alt="" />
            <div class="card_overlay">
              <div class="card_header">
                <svg class="card_arc" xmlns="http://www.w3.org/2000/svg">
                  <path />
                </svg>
                <img class="card_thumb" src="./images/game/cuteCat.jpg" alt="" />
                <div class="card_header-text">
                  <h3 class="card_title">Game</h3>
                  <span class="card_status">Available</span>
                </div>
              </div>
              <p class="card_description">Currently, this section just about some silly and cute stuff that i was made
                for fun. Now it's only used for listening to music. </p>
            </div>
          </a>
        </li>
        <li>
          <a href="/schedule" class="card">
            <img src="./images/schedule/bg.jpg" class="card_image" alt="" />
            <div class="card_overlay">
              <div class="card_header">
                <svg class="card_arc" xmlns="http://www.w3.org/2000/svg">
                  <path />
                </svg>
                <img class="card_thumb" src="./images/game/cuteCat.jpg" alt="" />
                <div class="card_header-text">
                  <h3 class="card_title">Schedule</h3>
                  <span class="card_status text-primary">Coming soon</span>
                </div>
              </div>
              <p class="card_description">This Schedule project is being developed to be a Event reminder for user. Remind annual and up coming events</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/bingoGame" class="card">
            <img src="./images/bingoGame/bg.jpg" class="card_image" alt="" />
            <div class="card_overlay">
              <div class="card_header">
                <svg class="card_arc" xmlns="http://www.w3.org/2000/svg">
                  <path />
                </svg>
                <img class="card_thumb" src="./images/game/cuteCat.jpg" alt="" />
                <div class="card_header-text">
                  <h3 class="card_title">Bingo Game (LOTO)</h3>
                  <span class="card_status text-success">Available</span>
                </div>
              </div>
              <p class="card_description">This section is used for playing Bingo Game/LOTO Offline (Personal use only). This will be update more function for a better experience</p>
            </div>
          </a>
        </li>

        <li>
          <a href="https://lunarmess-f928e.web.app/" target="_blank" class="card">
            <img src="./images/lunarmess/background.jpg" class="card_image" alt="" />
            <div class="card_overlay">
              <div class="card_header">
                <svg class="card_arc" xmlns="http://www.w3.org/2000/svg">
                  <path />
                </svg>
                <img class="card_thumb" src="./images/game/cuteCat.jpg" alt="" />
                <div class="card_header-text">
                  <h3 class="card_title">Lunar Mess</h3>
                  <span class="card_short_desc">Lunar Messenger</span>
                  <span class="card_status">Available</span>
                </div>
              </div>
              <p class="card_description">Lunar Messenger is chatting platform created by ReactJS. You can use Gmail or Facebook to log in.</p>
            </div>
          </a>
        </li>

        {{!-- <li>
          <a href="https://lunarmess-f928e.web.app/" class="card">
            <img src="./images/app/cat.jpg" class="card_image" alt="" />
            <div class="card_overlay">
              <div class="card_header">
                <svg class="card_arc" xmlns="http://www.w3.org/2000/svg">
                  <path />
                </svg>
                <img class="card_thumb" src="./images/game/cuteCat.jpg" alt="" />
                <div class="card_header-text">
                  <h3 class="card_title">Lunar Mess</h3>
                  <span class="card_short_desc">Lunar Messenger</span>
                  <span class="card_status">Available</span>
                </div>
              </div>
              <p class="card_description">Lunar Messenger is chatting platform created by ReactJS. You can use Gmail or Facebook to log in.</p>
            </div>
          </a>
        </li> --}}
      </ul>
    </div>
  </div>


   <div class="footer-wrapper">
        <footer>
            <div class="social">
              <a href="https://www.facebook.com" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 128 128"><rect width="118.35" height="118.35" x="4.83" y="4.83" fill="#3d5a98" rx="6.53" ry="6.53"/><path fill="#fff" d="M86.48 123.17V77.34h15.38l2.3-17.86H86.48v-11.4c0-5.17 1.44-8.7 8.85-8.7h9.46v-16A126.56 126.56 0 0 0 91 22.7c-13.62 0-23 8.3-23 23.61v13.17H52.62v17.86H68v45.83z"/></svg>
              </a>
              <a href="https://www.instagram.com" target="_blank"> 
               <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 256 256"><g fill="none"><rect width="256" height="256" fill="url(#skillIconsInstagram0)" rx="60"/><rect width="256" height="256" fill="url(#skillIconsInstagram1)" rx="60"/><path fill="#fff" d="M128.009 28c-27.158 0-30.567.119-41.233.604c-10.646.488-17.913 2.173-24.271 4.646c-6.578 2.554-12.157 5.971-17.715 11.531c-5.563 5.559-8.98 11.138-11.542 17.713c-2.48 6.36-4.167 13.63-4.646 24.271c-.477 10.667-.602 14.077-.602 41.236s.12 30.557.604 41.223c.49 10.646 2.175 17.913 4.646 24.271c2.556 6.578 5.973 12.157 11.533 17.715c5.557 5.563 11.136 8.988 17.709 11.542c6.363 2.473 13.631 4.158 24.275 4.646c10.667.485 14.073.604 41.23.604c27.161 0 30.559-.119 41.225-.604c10.646-.488 17.921-2.173 24.284-4.646c6.575-2.554 12.146-5.979 17.702-11.542c5.563-5.558 8.979-11.137 11.542-17.712c2.458-6.361 4.146-13.63 4.646-24.272c.479-10.666.604-14.066.604-41.225s-.125-30.567-.604-41.234c-.5-10.646-2.188-17.912-4.646-24.27c-2.563-6.578-5.979-12.157-11.542-17.716c-5.562-5.562-11.125-8.979-17.708-11.53c-6.375-2.474-13.646-4.16-24.292-4.647c-10.667-.485-14.063-.604-41.23-.604h.031Zm-8.971 18.021c2.663-.004 5.634 0 8.971 0c26.701 0 29.865.096 40.409.575c9.75.446 15.042 2.075 18.567 3.444c4.667 1.812 7.994 3.979 11.492 7.48c3.5 3.5 5.666 6.833 7.483 11.5c1.369 3.52 3 8.812 3.444 18.562c.479 10.542.583 13.708.583 40.396c0 26.688-.104 29.855-.583 40.396c-.446 9.75-2.075 15.042-3.444 18.563c-1.812 4.667-3.983 7.99-7.483 11.488c-3.5 3.5-6.823 5.666-11.492 7.479c-3.521 1.375-8.817 3-18.567 3.446c-10.542.479-13.708.583-40.409.583c-26.702 0-29.867-.104-40.408-.583c-9.75-.45-15.042-2.079-18.57-3.448c-4.666-1.813-8-3.979-11.5-7.479s-5.666-6.825-7.483-11.494c-1.369-3.521-3-8.813-3.444-18.563c-.479-10.542-.575-13.708-.575-40.413c0-26.704.096-29.854.575-40.396c.446-9.75 2.075-15.042 3.444-18.567c1.813-4.667 3.983-8 7.484-11.5c3.5-3.5 6.833-5.667 11.5-7.483c3.525-1.375 8.819-3 18.569-3.448c9.225-.417 12.8-.542 31.437-.563v.025Zm62.351 16.604c-6.625 0-12 5.37-12 11.996c0 6.625 5.375 12 12 12s12-5.375 12-12s-5.375-12-12-12v.004Zm-53.38 14.021c-28.36 0-51.354 22.994-51.354 51.355c0 28.361 22.994 51.344 51.354 51.344c28.361 0 51.347-22.983 51.347-51.344c0-28.36-22.988-51.355-51.349-51.355h.002Zm0 18.021c18.409 0 33.334 14.923 33.334 33.334c0 18.409-14.925 33.334-33.334 33.334c-18.41 0-33.333-14.925-33.333-33.334c0-18.411 14.923-33.334 33.333-33.334Z"/><defs><radialGradient id="skillIconsInstagram0" cx="0" cy="0" r="1" gradientTransform="matrix(0 -253.715 235.975 0 68 275.717)" gradientUnits="userSpaceOnUse"><stop stop-color="#FD5"/><stop offset=".1" stop-color="#FD5"/><stop offset=".5" stop-color="#FF543E"/><stop offset="1" stop-color="#C837AB"/></radialGradient><radialGradient id="skillIconsInstagram1" cx="0" cy="0" r="1" gradientTransform="matrix(22.25952 111.2061 -458.39518 91.75449 -42.881 18.441)" gradientUnits="userSpaceOnUse"><stop stop-color="#3771C8"/><stop offset=".128" stop-color="#3771C8"/><stop offset="1" stop-color="#60F" stop-opacity="0"/></radialGradient></defs></g></svg>
              </a>
              <a href="https://github.com/demoon2332" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 16 16"><path fill="currentColor" fill-rule="evenodd" d="M7.976 0A7.977 7.977 0 0 0 0 7.976c0 3.522 2.3 6.507 5.431 7.584c.392.049.538-.196.538-.392v-1.37c-2.201.49-2.69-1.076-2.69-1.076c-.343-.93-.881-1.175-.881-1.175c-.734-.489.048-.489.048-.489c.783.049 1.224.832 1.224.832c.734 1.223 1.859.88 2.3.685c.048-.538.293-.88.489-1.076c-1.762-.196-3.621-.881-3.621-3.964c0-.88.293-1.566.832-2.153c-.05-.147-.343-.978.098-2.055c0 0 .685-.196 2.201.832c.636-.196 1.322-.245 2.007-.245s1.37.098 2.006.245c1.517-1.027 2.202-.832 2.202-.832c.44 1.077.146 1.908.097 2.104a3.16 3.16 0 0 1 .832 2.153c0 3.083-1.86 3.719-3.62 3.915c.293.244.538.733.538 1.467v2.202c0 .196.146.44.538.392A7.984 7.984 0 0 0 16 7.976C15.951 3.572 12.38 0 7.976 0Z" clip-rule="evenodd"/></svg>
              </a>
              <a href="https://www.youtube.com" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 72 72"><path fill="#ea5a47" d="M63.874 21.906a7.31 7.31 0 0 0-5.144-5.177C54.193 15.505 36 15.505 36 15.505s-18.193 0-22.73 1.224a7.31 7.31 0 0 0-5.144 5.177C6.91 26.472 6.91 36 6.91 36s0 9.528 1.216 14.095a7.31 7.31 0 0 0 5.144 5.177C17.807 56.495 36 56.495 36 56.495s18.193 0 22.73-1.223a7.31 7.31 0 0 0 5.144-5.177C65.09 45.528 65.09 36 65.09 36s0-9.528-1.216-14.094"/><path fill="#fff" d="M30.05 44.65L45.256 36L30.05 27.35Z"/><g fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="2"><path d="M63.874 21.906a7.31 7.31 0 0 0-5.144-5.177C54.193 15.505 36 15.505 36 15.505s-18.193 0-22.73 1.224a7.31 7.31 0 0 0-5.144 5.177C6.91 26.472 6.91 36 6.91 36s0 9.528 1.216 14.095a7.31 7.31 0 0 0 5.144 5.177C17.807 56.495 36 56.495 36 56.495s18.193 0 22.73-1.223a7.31 7.31 0 0 0 5.144-5.177C65.09 45.528 65.09 36 65.09 36s0-9.528-1.216-14.094"/><path stroke-linecap="round" stroke-linejoin="round" d="M30.05 44.65L45.256 36L30.05 27.35Z"/></g></svg>
              </a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms - Policy</a></li>
            </ul>
            <p class="contact">Email: ductrong1313@gmail.com</p>
            <p class="copyright">Lunar © 2020</p>
        </footer>
    </div>

</body>